@model PapiKos.Models.Kos

@{
    ViewData["Title"] = "Delete";
    Layout = "_DefaultLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaKos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaKos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahKamar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahKamar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeskripsiTambahan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeskripsiTambahan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
